.TokensRequestMenu{
    display: flex;
    flex-direction: column;
    align-items:center;
    flex-grow: 1;
    margin: 0 0.7rem 0 0;
}
.input-container{
    display: flex;
    flex-direction: column;
    align-items:center;
}
@media (max-width:768px) {
    .TokensRequestMenu{
        margin: 0.7rem 0 0.7rem 0;
    }
}