.ConnectForm{
    display: flex;
    flex-direction: column;
    align-items:center;
    border-radius:10px;
    width: 100%;
    animation: 2s anim-lineUp ease-out;
}
.container-functional {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
	margin: 0px;
}