@import url("https://fonts.googleapis.com/css?family=Lato:100&display=swap");

.center {
	width: 180px;
	height: 60px;
	position: relative;
}

.btn {
	width: 180px;
	height: 60px;
	cursor: pointer;
	background: transparent;
	border: 1px solid #91c9ff;
	outline: none;
	transition: 1s ease-in-out;
}

svg {
	position: absolute;
	left: 0;
	top: 0;
	fill: none;
	stroke: #fff;
	stroke-dasharray: 150 480;
	stroke-dashoffset: 150;
	transition: 1s ease-in-out;
}

.btn:hover {
	transition: 1s ease-in-out;
	background: #4b5d6f;
}

.btn:hover svg {
	stroke-dashoffset: -480;
}

.btn span {
	color: white;
	font-size: 18px;
	font-weight: 100;
}
@media (max-width: 1440px) {
	.center {
		width: 135px;
		height: 45px;
	}
	.btn {
		width: 135px;
		height: 45px;
	}
	.btn span {
		font-size: 14px;
	}
	.border {
		width: 135px;
		height: 45px;
	}
}
@media (max-width: 1024px) {
	.center {
		width: 120px;
		height: 40px;
	}
	.btn {
		width: 120px;
		height: 40px;
	}
	.btn span {
		font-size: 14px;
	}
	.border {
		width: 120px;
		height: 40px;
	}
}
@media (max-width: 768px) {
	.center {
		width: 300px;
		height: 40px;
	}
	.btn {
		width: 300px;
		height: 40px;
	}
	.btn span {
		font-size: 14px;
	}
	.border {
		display: none;
	}
}
@media (max-width:319px) {
	.center{
		width: 240px;
	}
	.btn{
		width: 240px;
	}
}
